@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

body{

}

/*  start navigation   */
.navbar {
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6)!important;
}
.navbar-brand img {
  height: 2rem;
  border-radius:4px;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nave .nav-link{
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover {
  color:white;
}
/* end of navigation */


/* start landing page */
.home-inner {
  background-image: url("./img/Webp.net-resizeimage.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 900px;
}

.caption {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 38%;
  z-index: 1;
  color: black;
  text-transform: uppercase;
}
.caption h1{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  color: #4995ba;
}
.caption h3{
  font-size: 3.8rem;
  font-weight: 700;
  letter-spacing: .3rem,normal;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
  color: #3fb2eb;
}
.btn-lg {
  border-width: medium;
  border-radius: 0;
  padding-left: .6rem 1.3rem;
  font-size: 1.1rem;
}
/* end landing page */

/* start description */
.lead {
  letter-spacing: .1rem;
  padding: 2%;
  color: black;
}
.titledesc {
  color: black;
}
.horiz{
  width: 10%;
  border: 1.5px solid #409999;
}
/* End Desription */

/* start table */
th{
  color:#fff;
}
tr{
  margin-top: 50%;
}

/* End table */

/* start pdf */
#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
#toolbar {
  display: flex;
  align-items: center;
  background-color: #555;
  color: #fff;
  padding: 0.5em;
}
#toolbar button,
#page-mode input {
  color: currentColor;
  background-color: transparent;
  font: inherit;
  border: 1px solid currentColor;
  border-radius: 3px;
  padding: 0.25em 0.5em;
}
#toolbar button:hover,
#toolbar button:focus,
#page-mode input:hover,
#page-mode input:focus {
  color: lightGreen;
}
#page-mode {
  display: flex;
  align-items: center;
  padding: 0.25em 0.5em;
}

#viewport-container {
  flex: 1;
  background: #eee;
  overflow: auto;
}
#viewport {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
#viewport > div {
  text-align: center;
  max-width: 100%;
}
#viewport canvas {
  width: 100%;
  box-shadow: 0 2px 5px gray;
}

/* end pdf */
